<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <a href="@Url.Action("Index","Projects","Projects")">
                    <div class="info-box">
                        <span class="info-box-icon bg-gradient-danger elevation-1"><i class="fas fa-project-diagram"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Projects</span>
                            <span class="info-box-number">
                                10
                                <small>%</small>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <a href="@Url.Action("Index","Tickets","Tickets")">
                    <div class="info-box">
                        <span class="info-box-icon bg-gradient-info elevation-1"><i class="fas fa-ticket-alt"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Tickets</span>
                            <span class="info-box-number">
                                10
                                <small>%</small>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <a href="@Url.Action("Index","Projects","Projects")">
                    <div class="info-box">
                        <span class="info-box-icon bg-gradient-olive elevation-1"><i class="fas fa-user"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">People</span>
                            <span class="info-box-number">
                                10
                                <small>%</small>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <a href="@Url.Action("Manageroles","Admin","Admin")">
                    <div class="info-box">
                        <span class="info-box-icon bg-gradient-secondary elevation-1"><i class="fas fa-scroll"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Manage</span>
                            <span class="info-box-number">
                                10
                                <small>%</small>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div id="dashboardchart1"></div>
            </div>
            <div class="col-md-4">
                <div id="dashboardchart2"></div>
            </div>
            <div class="col-md-4">
                <div id="dashboardchart3"></div>
            </div>
        </div>


       
        
    </div><!--/. container-fluid -->

</section>
<!-- /.content -->
@section scripts    {
    <script>
        $(function () {
            var url = '@Url.Action("ProduceChart2Data", "Graphing")';
            $.post(url).then(function (response) {
                new Morris.Donut({
                    element: "dashboardchart1",
                    data: response,
                    xkey: "label",
                    ykeys: ["value"],
                    labels: ["Ticket Count"],
                    resize: true
                });

            });

            var url = '@Url.Action("ProduceChart4Data", "Graphing")';
            $.post(url).then(function (response) {
                new Morris.Donut({
                    element: 'dashboardchart2',
                    data: response,
                    xkey: 'label',
                    ykeys: 'value',
                    labels: ['Ticket Count'],
                    resize: true
                });
            });

             var url = '@Url.Action("ProduceChart6Data", "Graphing")';
            $.post(url).then(function (response) {
                new Morris.Donut({
                    element: 'dashboardchart3',
                    data: response,
                    xkey: 'label',
                    ykeys: 'value',
                    labels: ["Ticket Count"],
                    resize: true
                });

            });
        });

    </script>





    }