@using JF_BugTracker.Helpers
@model JF_BugTracker.Models.ViewModels.ProjectDetailViewModel

@{
    var userHelper = new UserHelper();
    var historyHelper = new TicketHistoryHelper();
    var attachmentHelper = new AttachmentHelper();
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Project Detail</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Home")">Home</a></li>
                    <li class="breadcrumb-item active">Project Detail</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Project Detail</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <a href="@Url.Action("ManageProjects", "Admin")">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Project Team</span>
                                        <span class="info-box-number text-center text-muted mb-0">@Model.Project.Users.Count()</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4">
                            <a href="@Url.Action("ProjectTickets", "Projects", new { id = Model.Project.Id })">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Project Tickets</span>
                                        <span class="info-box-number text-center text-muted mb-0">@Model.Project.Tickets.Count()</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Average Ticket Priority</span>
                                    <span class="info-box-number text-center text-muted mb-0">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4>Recent Activity</h4>
                            @foreach (var item in historyHelper.GetProjectHistories(Model.Project))
                            {
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="" alt="">
                                        <span class="username">
                                            <a href="#">@userHelper.GetDisplayName()</a>
                                        </span>
                                        <span class="description">@item.Changed</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                       @item.OldValue has changed to @item.NewValue
                                    </p>
                                    
                                </div>
                            }



                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h3 class="text-primary"><i class="fas fa-clipboard-list"></i>@Model.Project.Name</h3>
                    <p class="text-muted">@Model.Project.Description</p>
                    <br>
                    <div class="text-muted">
                        <p class="text-sm">
                            Client Company
                            <b class="d-block">BugTracker</b>
                        </p>
                        <p class="text-sm">
                            Project Leader
                            @{
                                var pm = Model.ProjectManager;
                                if (pm != null)
                                {
                                    <b class="d-block">@pm.DisplayName</b>
                                };

                            }
                        </p>
                    </div>
                    <hr />
                    <h5 class="mt-5 text-muted">Project files</h5>
                    <ul class="list-unstyled">
                        @{ 
                            var attachments = Model.Project.Tickets.SelectMany(t => t.TicketAttachments).ToList();
                            foreach (var item in attachments)
                            {
                                var fClass = AttachmentHelper.GetFaClass(item.FilePath);
                                                <li>
                                                    <a href="@item.FilePath" target="_blank" class="btn-link  text-secondary"><i class="@fClass"></i> @item.Body</a>
                                                </li>
                            }
                        }
                      
                        @*<li>
                            <a href="" class="btn-link text-secondary"><i class="fa fa-fw fa-file-contract"></i> Functional-requirements.docx</a>
                        </li>
                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                        </li>
                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Email-from-flatbal.mln</a>
                        </li>
                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
                        </li>
                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
                        </li>*@
                    </ul>
                    <hr />
                    <div class="text-center mt-5 mb-3">
                        <a href="#" class="btn btn-sm btn-primary">Add files</a>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
